doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Institution website
    block style

  body
    header
      nav#navbar
        ul
          li #[a(href='/') Home]
          li #[a(href='#') Departments]
          li #[a(href='#') Academics]
          li #[a(href='#') Facilities]
          li #[a(href='/newsandevent') News and Events]

      section#intro
        div
          | Welcome to XYZ College
          | Best College Website of Universe
    block content
    footer#footer
      | Copyright @2020
    block scripts