extend base.pug

block scripts
  script(src='../public/index.js')

block style
  style
    include ../public/style.css

block content
  section#headbar
    h3 Quick Links

  script
    include ../public/index.js  